@use "../core/variables" as *;

.hero {
  min-height: calc(100dvh - 72px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 3rem 2rem;

  background-color: $color-paper;

  &__content {
     max-width: 600px;
  margin-bottom: 2.5rem;
  }

  &__title {
    font-family: $font-title;
    font-size: clamp(3rem, 5vw, 4.2rem);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__text {
    font-family: $font-body;
    font-size: 1.1rem;
    line-height: 1.7;
    max-width: 560px;
    margin: 0 auto;
    color: rgba(48, 31, 72, .8)
  }

  &__images {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

  &__image {
    width: 255.4px;
    border-radius: 6px;
    box-shadow: 0 10px 30px -12px rgba(60, 30, 15, 0.55);
    

    &--left {
      transform: rotate(-4deg);
    }

    &--right {
      transform: rotate(8deg);
    }
  }
}