@use "../core/variables" as *;

.hero {
  min-height: calc(100dvh - 80px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  padding: 4rem 2rem;

  background: $color-paper;

  &__content {
    max-width: 650px;
  }

  &__title {
    font-family: $font-title;

    font-size: clamp(2.5rem, 6vw, 4.5rem);

    line-height: 1;

    margin-bottom: 1rem;
  }

  &__title span {
    color: $color-primary;
  }

  &__text {
    max-width: 500px;

    margin: 0 auto 3rem;

    line-height: 1.7;
  }

  &__images {
    display: flex;

    gap: 2rem;
  }

  &__card {
    width: 150px;
    height: 180px;

    background: white;

    border-radius: 10px;

    box-shadow: $shadow-card;

    &--left {
      transform: rotate(-8deg);
    }

    &--right {
      transform: rotate(8deg);
    }
  }
}