// COLORES

$color-ink: #2d183f;
$color-paper: #f4efff;
$color-primary: #ff4fa0;
$color-card: #ffffff;
$color-lavender: #d9d4ef;
$color-text: #2d183f;

// TIPOGRAFÍAS

$font-title: "Space Grotesk", sans-serif;
$font-body: "Inter", sans-serif;

// BORDES

$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 20px;

// SOMBRAS

$shadow-card: 0 8px 16px rgba(0, 0, 0, 0.08);