<main class="main">
  <!-- HERO -->
  <section class="hero">
    <div class="hero__content">
      <h2 class="hero__title">
        La escena urbana también es nuestra
      </h2>

      <p class="hero__text">
        Descubre artistas que pintan, riman y suenan. Guarda tus favoritas y explora su música.
      </p>
    </div>

    <div class="hero__images">
      <img
        class="hero__image hero__image--left"
        src="/images/hero-01.webp"
        alt=""
      />

      <img
        class="hero__image hero__image--right"
        src="/images/hero-02.webp"
        alt=""
      />
    </div>
  </section>

  <!-- LISTADO DE ARTISTAS -->
  <section class="artists">
    <div class="artists__header">
      <h2 class="artists__title">Artistas</h2>

      <p class="artists__counter js-counter">
        0 artistas seguidas
      </p>
    </div>

    <ul class="artists__list js-artists-list">
      <!-- JavaScript pintará aquí las artistas -->
    </ul>
  </section>
</main>